* {
  margin: 0;
  padding: 0;
  font-family: 'EB Garamond', serif;
}

body {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  height: 100vh;
  background-color: #F3F4F6;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
}

/* TOP SECTION */

.top-section {
  display: flex;
  font-size: 1.4rem;
  padding-top: 1.5rem;
  margin-left: 4rem;
}

.top-section img {
  width: 24px;
  height: auto;
  padding: .2rem;
  cursor: pointer;
}

.top-section img:hover {
  transition: .5s ease;
  background-color: rgba(0, 0, 0, .1);
  overflow: hidden;
}

/* MIDDLE SECTION */

.middle-section {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.slides {
  margin: 2rem;
}

.slides a {
  all: unset;
  cursor: pointer;
}

.navigation {
  display: flex;
  justify-content: center;
}

.pg {
  width: 60px;
  height: 15px;
  background-color: #000000;
  border-radius: 6px;
  margin: 0 .4rem;
  cursor: pointer;
}

.slide {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  align-items: center;
  /* width: 45rem;
  height: 50rem; */
  width: 40vw;
  height: 85vh;
  background-color: #ffffff;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.display-none {
  display: none;
  /* transition: all 0.5s ease-in-out; */
}

.slide-title {
  display: flex;
  align-items: center;
  height: 5rem;
  font-size: 3rem;
  padding: 1.5rem;
  color: #212121;
}

.slide-img {
  height: 35rem;
  width: 35rem;
  border-radius: 12px;
  display: none;
}

/* BOTTOM SECTION */

.bottom-section {
  padding: 1rem;
  text-align: center;
  max-width: 60rem;
  height: 10rem;
  margin: calc(24px + .4rem) auto calc(24px + .4rem + 2rem) auto;
  flex: 1;
  /* push footer down */
}

.bottom-section h2 {
  font-size: 1.6rem;
  font-weight: 600;
}

.bottom-section p {
  padding: .2rem;
  font-size: 1.4rem;
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding: 1.2rem;
  background-color: #212121;
  color: white;
  font-size: 1.2rem;
}

.footer a {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.footer img {
  height: 24px;
  margin-left: .4rem;
}