* {
  margin: 0;
  padding: 0;
  font-family: 'EB Garamond', serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #F3F4F6;
  box-sizing: border-box;
}

/* --- CONTAINER TOP --- */

.container-top {
  display: flex;
  flex-direction: column;
}

/* LANGUAGE */

.language {
  display: flex;
  font-size: 1.4rem;
  padding-top: 1.5rem;
  margin-left: 4rem;
  user-select: none;
}

.language img {
  width: 24px;
  height: auto;
  padding: .2rem;
  cursor: pointer;
}

.language img:hover {
  transition: .5s ease;
  background-color: rgba(0, 0, 0, .1);
  overflow: hidden;
}

/* LANGUAGE */

/* CARDS */

.cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin: 2rem 0;
  user-select: none;
}

.card-0,
.card-1,
.card-2 {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  width: 28rem;
  font-size: 2.4rem;
  padding: 1.5rem;
}

.card-1 {
  width: 40rem;
}

img.card-0-title,
img.card-1-title {
  height: 4rem;
  width: auto;
}

img.card-2-title {
  height: 3rem;
  width: auto;
  padding-bottom: 1rem;
}

.card-0-img,
.card-2-img {
  display: flex;
  width: 25rem;
  height: auto;
  margin-top: 2rem;
  border-radius: 20px;
}

.card-1-img {
  display: flex;
  height: 25rem;
  width: auto;
  margin-top: 2rem;
  border-radius: 20px;
}

/* CARDS */


/* INFO */
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  text-align: center;
  max-width: 60rem;
  height: 10rem;
  margin: 0 auto;
}

.info h2 {
  font-size: 1.6rem;
  font-weight: 600;
}

.info p {
  padding: .2rem;
  font-size: 1.4rem;
}

/* INFO */
/* --- CONTAINER MIDDLE --- */

/* --- CONTAINER TOP --- */


/* --- CONTAINER MIDDLE --- */
.container-middle {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.mid-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  flex: 1;
}

/* SLIDES */
.slides {
  display: flex;
  margin: 2rem;
}

.slide {
  display: flex;
  align-items: center;
  height: 75vh;
  width: 80vw;
  background-color: #ffffff;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.left-side {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 2rem 2rem 2rem;
  flex: 2;
}

.right-side {
  display: flex;
  justify-content: center;
  padding: 0 2rem 2rem 2rem;
  flex: 1;
}

.slide-title {
  display: flex;
  height: 5rem;
  font-size: 3rem;
  padding: 0 1.5rem;
  color: #212121;
}

.slide-text {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2rem;
  text-align: justify;
  max-width: 40vw;
}


#pg-1>div.left-side {
  flex: 2;
}

#pg-0>div.right-side>img,
#pg-2>div.right-side>img {
  width: 30vh;
  height: auto;
  border-radius: 12px;
  user-select: none;
}

#pg-1>div.right-side>img {
  width: auto;
  height: 30vh;
  border-radius: 12px;
  user-select: none;
}

.display-none {
  display: none;
  /* transition: all 0.5s ease-in-out; */
}

.navigation {
  display: flex;
  justify-content: center;
}

.pg {
  width: 60px;
  height: 15px;
  background-color: #000000;
  border-radius: 6px;
  margin: 0 .4rem;
  cursor: pointer;
}

/* SLIDES */

/* FOOTER */
.footer {
  display: flex;
  justify-content: center;
  padding: 1.2rem;
  background-color: #212121;
  color: white;
  font-size: 1.2rem;
  margin-top: 2rem;
}

.footer a {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.footer img {
  height: 24px;
  margin-left: .4rem;
}

/* FOOTER */

@media only screen and (max-width: 960px) {
  .slide {
    flex-direction: column;
  }
}

@media only screen and (max-width: 736px) {
  .card-1-img {
    height: 15rem;
  }

  .card-0-img,
  .card-2-img {
    width: 18rem;
  }
}


@media only screen and (max-width: 676px) {
  #pg-1>div.right-side>img {
    height: 40vw;
  }
}

@media only screen and (max-width: 455px) {
  .card-1-img {
    height: 10rem;
  }

  .card-0-img,
  .card-2-img {
    width: 14rem;
  }
}