* {
  margin: 0;
  padding: 0;
  font-family: 'EB Garamond', serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #F3F4F6;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* --- CONTAINER TOP --- */

.container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* LANGUAGE */

.language {
  display: flex;
  align-self: flex-start;
  font-size: 1.4rem;
  padding-top: 1.5rem;
  margin-left: 4rem;
  user-select: none;
}

.language img {
  width: 24px;
  height: auto;
  padding: .2rem;
  cursor: pointer;
}

.language img:hover {
  transition: .5s ease;
  background-color: rgba(0, 0, 0, .1);
  overflow: hidden;
}

/* LANGUAGE */

/* CARDS */

.cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin: 4rem 2rem;
  user-select: none;
  max-width: calc(31rem + 50vw);
  gap: 6rem;
}

.card-0,
.card-1,
.card-2 {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  font-size: 2.4rem;
}

.card-1 {
  flex: 1.6;
}

img.card-0-title,
img.card-1-title {
  height: 4rem;
  width: auto;
}

img.card-2-title {
  height: 3rem;
  width: auto;
  padding-bottom: 1rem;
}

.card-0-img,
.card-2-img {
  display: flex;
  width: 18.33vw;
  height: auto;
  margin-top: 2rem;
  border-radius: 20px;
}

.card-1-img {
  display: flex;
  height: 18.33vw;
  width: auto;
  margin-top: 2rem;
  border-radius: 20px;
}

/* CARDS */


/* INFO */
.info {
  display: flex;
  flex-direction: column;
  padding: 4rem 4rem 0 4rem;
  text-align: center;
  margin: 0 auto;
}

.info h2 {
  font-size: 2rem;
  font-weight: 600;
}

.info p {
  padding: .2rem;
  font-size: 1.6rem;
}

/* INFO */
/* --- CONTAINER MIDDLE --- */

/* --- CONTAINER TOP --- */


/* --- CONTAINER MIDDLE --- */
.container-middle {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.mid-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  flex: 1;
}

/* SLIDES */
.slides-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.prev,
.next {
  width: auto;
  padding: 0 .6rem;
  margin: 0 2rem;
  font-weight: bold;
  font-size: 4rem;
  color: #212121;
  cursor: pointer;
  transition: 0.6s ease;
  user-select: none;
}

.prev:hover,
.next:hover {
  color: #7a7a7a;
}

.slide {
  display: flex;
  flex-direction: row;
  flex: 1 0 100%;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  animation: slideshow 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  width: 75.7vw;
  height: 70%;
  margin-top: 2rem;
}

.left-side,
.right-side {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
}

.slide-title {
  font-size: 3.2rem;
  text-align: center;
  padding: 0 1.5rem;
  color: #212121;
}

.slide-text {
  width: 25vw;
  font-size: 1.4rem;
  text-align: justify;
}

.slide-img {
  height: 25vw;
  border-radius: 12px;
  user-select: none;
}

#pg-1>div.right-side>img {
  height: 22vw;
}

@keyframes slideshow {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.display-none {
  display: none;
}

.navigation {
  display: flex;
  justify-content: center;
  margin: 2.5rem 0 1.5rem 0;
}

.pg {
  width: 60px;
  height: 15px;
  background-color: #212121;
  border-radius: 6px;
  margin: 0 .4rem;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.pg:hover {
  background-color: #7a7a7a;
}

.active {
  background-color: #7a7a7a;
}

/* SLIDES */

/* FOOTER */
.footer {
  display: flex;
  justify-content: center;
  padding: 1.2rem;
  background-color: #212121;
  color: white;
  font-size: 1.2rem;
}

.footer a {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.footer img {
  height: 24px;
  margin-left: .4rem;
}

/* FOOTER */

/* MEDIA QUERIES */

@media only screen and (max-width: 1796px) {

  .info h2 {
    font-size: 1.8rem;
  }

  .info p {
    font-size: 1.4rem;
  }

}

@media only screen and (max-width: 1441px) {

  .card-0-img,
  .card-2-img {
    width: 16.5rem;
  }

  .card-1-img {
    height: 16.5rem;
  }
}

@media only screen and (max-width: 1300px) {
  .slide {
    flex-direction: column;
  }

  .slide-text {
    width: 55vw;
  }

}

@media only screen and (max-width: 940px) {
  .slide {
    width: 100%;
  }

  .slide-title {
    font-size: 2rem;
  }

  .slide-text {
    font-size: 1.2rem;
    text-align: left;
  }
}

@media only screen and (max-width: 736px) {
  .slide-text {
    width: 40vw;
    font-size: 1.1rem;
  }

  .next,
  .prev {
    font-size: 2.4rem;
  }

  .pg {
    width: 48px;
    height: 12px;
  }

  .card-1-img {
    height: 15rem;
  }

  .card-0-img,
  .card-2-img {
    width: 18rem;
  }
}

@media only screen and (max-width: 455px) {

  .next,
  .prev {
    display: none;
  }

  .card-1-img {
    height: 10rem;
  }

  .card-0-img,
  .card-2-img {
    width: 14rem;
  }
}